/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2f3c7e;
  display: flex;
  justify-content:center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:inherit;
  
  
}

header{
  background-color: inherit;
  color: white;
  border-image: 5rem;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0rem;
  


}

header nav {
  margin: 0rem;
}

header nav ul{
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  
  }
  .curved-image {
    border-radius: 10px;
    
}

  header a {
    color:white;
    text-decoration: none;
  }
  
  header a:hover {
    text-decoration: underline;
  }

  main {
    margin: 5rem 0rem;
    padding: 1rem;
  }

  main section {
    margin: 0rem 0 1rem;
    padding: 0rem;
    background-color:#fbeaeb;
    color: black;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;

    
  }

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: white;
  font-style: italic;
}

h2 {
  text-align: center;
  font-style: italic;
}

.cta-section {
  text-align: center;
  padding: 20px;
  background-color: #fbeaeb;
  }

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2f3c7e;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  
}

.cta-button:hover {
  text-decoration: underline;
}



footer {
  margin: 1rem 0;
  background-color: inherit;
  color: white;
  padding: 1rem;


}

footer nav ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

footer a {
  text-decoration: none;
   color: white;
}

footer a:hover {
  text-decoration: underline;
  
  
}

footer .copyright {
  margin: 5rem 0 1rem 0;
}
